.aspect-ratio-container {
    position: relative;
    width: 100%;
    /* Set the desired aspect ratio here */
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
    overflow: hidden;
}
.aspect-ratio-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This property ensures the image covers the entire container */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ffd24d;
    margin: 20px;
    background-color:#1a1a00 ; /* Light yellow background */
}

header {
    text-align: center;
    padding: 20px;
    color:#352c06;
    background-color: rgb(204, 175, 8); /* Gold header background */
}


nav {
    display: flex;
    justify-content: center;
    background-color: #cc9c00; /* Black navigation background */
    padding: 10px;
}

nav a {
    color: #4d3b00; /* Gold navigation text */
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

section {
    padding: 20px;
    text-align: center; /* Center the content */
    background-color:#1f1f14  ; /* White content background */
    border-radius: 10px;
    margin-top: 20px;
}



footer {
    text-align: center;
    padding: 10px;
    color:#1a1a00;
    background-color: #ffd700; /* Gold footer background */
    margin-top: 20px;
}


.container {
    position: relative;
    max-width: 100%;
    height: 100vh;
  }

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6b800; /* Dark yellow color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.custom-button:hover {
    background-color: #FF8C00; /* Slightly darker dark yellow color on hover */
}







